<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UISupportedExternalAccessoryProtocols</key>
	<string>com.zebra.rfd8x00_easytext</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Ooopity poopity</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Poopity scoop, scoop de woop.</string>
</dict>
</plist>
